<!DOCTYPE html>
<html lang="en">
<head>
  <title>Books</title>
  <link rel="stylesheet" href="/css/books.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/general.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap" rel="stylesheet">
  <script src="/js/searchFilter.js" defer></script>
</head>
<body>
  <%- include('partials/header', {user}) %>
    
  <div class="banner">
    <h1>Find Your Next Book</h1>
    <form action="/books" method="get" class="search-bar">
      <div class="search-section">
        <input type="text" name="searchInput">
        <input type="hidden" name="genreFilter" id="genreFilterInput">
        <button type="submit">Search</button>
      </div>
      
      <div class="filter-section">
        <% genres.forEach(genre => { %>
          <button type="button" name="genreFilter" data-genre="<%= genre.genre_name %>"
            class="filter-tag"><%= genre.genre_name %></button>
        <% }) %>
      </div>
    </form>
  </div>

  <div class="books-grid">
    <% books.forEach(book => { %>
      <a href="/books/<%= book.id %>" class="book">
        <img src="/images/book-covers/<%= encodeURIComponent(book.book_name) %>.jpg"
        alt="" class="book-cover">
        <div class="book-info">
          <h2><%= book.book_name %></h2>
          <p>by: <%= book.author_name %> </p>
        </div>
      </a>
    <% }) %>
  </div>
</body>
</html>