<!DOCTYPE html>
<html>
<head>
  <title>Book</title>
  <link rel="stylesheet" href='/css/singleBook.css'>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/general.css">
</head>
<body>
  <%- include('partials/header', {user}) %>

  <div class="book-card">
    <img src="/images/book-covers/<%= encodeURIComponent(book.book_name) %>.jpg" alt="" class="book-cover">
    <div class="book-content">
      <h2><%= book.book_name %></h2>
      <p>by <%= book.author_name %> </p>
      <% if (user) { %>
        <form method="post" action="/borrow/<%= book.id %>">
          <button class="borrow-button">Borrow</button>
        </form>
      <% } %>
    </div>
  <div>
  
</body>
</html>